@charset "UTF-8";
html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
}

header {
  min-height: 90vh;
}
header a {
  color: #ffffff;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  padding: 10px;
}

#Services a {
  color: #ffffff;
  background: #ab8a62;
  padding: 10px;
}

footer {
  grid-column-start: 2;
  background-color: #222222;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
footer h2 {
  color: #ffffff;
  margin-bottom: 12px;
  font-size: large;
}
footer p {
  color: #8d8d8d;
  width: 50%;
}
footer span {
  color: #ffffff;
}
footer p span {
  color: #ffffff;
}
footer a {
  color: #ffffff;
}
footer li {
  color: #8d8d8d;
  margin-bottom: 10px;
}
footer ul {
  width: 40%;
  display: flex;
  justify-content: center;
}

.legal {
  height: 100px;
  background-color: #1e1e1e;
  font-size: x-small;
}
.legal ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.legal a {
  color: #ffffff;
}
.legal .text {
  color: #8d8d8d;
}

.contact {
  margin-left: 90px;
  display: grid;
  gap: 10px;
}
.contact ul {
  display: flex;
  justify-content: space-between;
}

.mail {
  text-decoration: underline;
}

form {
  background-color: #222222;
}
form input {
  border-style: none none solid none;
  background-color: #222222;
}
form textarea {
  border-style: none none solid none;
  background-color: #222222;
}
form div {
  padding: 50px;
}

body {
  display: grid;
  grid-template-columns: 20% 85%;
}

nav {
  width: 20%;
  background-color: #1b1b1b;
  min-height: 100%;
  grid-row: span 3;
  position: fixed;
}

main {
  grid-column-start: 2;
}

body {
  background-color: #222222;
}

.chambre {
  grid-column-start: 2;
}
.chambre header {
  background-image: url("/img/rooms/4.jpg");
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.chambre header p {
  color: #ffffff;
  letter-spacing: 5px;
  margin: 14px;
}
.chambre header h1 {
  letter-spacing: 20px;
  color: #ffffff;
  font-size: 70px;
}
.chambre header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 4fr 1fr;
}
main ul {
  font-size: 1em;
}
main .nom {
  color: #aa8453;
  font-size: 60pxS;
}
main h2 {
  margin: 10px 0px 10px 0px;
  color: #ffffff;
  font-size: xx-large;
}
main h3 {
  color: #ffffff;
  font-size: x-large;
}
main p {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #8d8d8d;
  font-size: large;
}
main li {
  color: #8d8d8d;
  margin-bottom: 10px;
}
main .list {
  display: flex;
}
main .check-in {
  width: 50%;
}
main .check-in h3 {
  margin-bottom: 20px;
}
main .check-out {
  width: 50%;
}
main .check-out h3 {
  margin-bottom: 20px;
}
main .ti-check {
  color: #aa8453;
}
main .détails {
  margin-right: 70px;
}
main button {
  color: #ffffff;
  background-color: #2b2b2b;
  font-size: 8px;
  border: none;
  padding: 10px 20px;
}
main span {
  margin-right: 12px;
}

aside {
  margin-top: 90px;
}
aside h3 {
  margin-bottom: 15px;
}
aside li {
  margin-bottom: 10px;
}
aside span {
  color: #aa8453;
  margin-right: 12px;
}

main {
  margin-top: 100px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}
main iframe {
  grid-row-start: 2;
}

.infos {
  width: 500px;
}

a {
  color: #aa8453;
  font-size: x-large;
}

.flaticon-location-pin, .flaticon-envelope, .flaticon-call {
  color: #aa8453;
  font-size: 40px;
  margin: 40px 10px 10px 0px;
}

.text {
  color: #8d8d8d;
}

.call, .email, .adresse {
  display: inline-flex;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
form #message {
  grid-column: span 2;
}/*# sourceMappingURL=main.css.map */