@charset "UTF-8";
html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
}

.headerAnnotation {
  font-size: 0.6rem;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
}

.annotation {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.6rem;
  color: #aa8453;
}

h1 {
  font-family: "Gilda Display", serif;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #ffffff;
}

h2 {
  font-family: "Gilda Display", serif;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

h3 {
  font-family: "Gilda Display", serif;
  font-size: 1.3rem;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  color: #ffffff;
}

p {
  font-family: "Barlow", sans-serif;
  color: #8d8d8d;
  font-size: 0.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

a {
  font-family: "Barlow", sans-serif;
}

header {
  min-height: 90vh;
}
header a {
  color: #ffffff;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  padding: 10px;
}

#Services a {
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  background: #ab8a62;
  padding: 10px;
}

footer {
  background-color: #222222;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
footer h2 {
  color: #ffffff;
  margin-bottom: 12px;
  font-size: large;
}
footer p {
  color: #8d8d8d;
  width: 50%;
}
footer span {
  color: #ffffff;
}
footer p span {
  color: #ffffff;
}
footer a {
  color: #ffffff;
}
footer li {
  color: #8d8d8d;
  margin-bottom: 10px;
}
footer ul {
  width: 40%;
  display: flex;
  justify-content: center;
}

.legal {
  height: 100px;
  background-color: #1e1e1e;
  font-size: x-small;
}
.legal ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.legal a {
  color: #ffffff;
}
.legal .text {
  color: #8d8d8d;
}

.contact {
  margin-left: 90px;
  display: grid;
  gap: 10px;
}
.contact ul {
  display: flex;
  justify-content: space-between;
}

.mail {
  text-decoration: underline;
}

form {
  background-color: #222222;
}
form input {
  border-style: none none solid none;
  background-color: #222222;
}
form textarea {
  border-style: none none solid none;
  background-color: #222222;
}
form div {
  padding: 20px;
}

body {
  display: grid;
  max-width: 100%;
  grid-template-columns: 20% 80%;
}

header {
  display: flex;
  text-align: center;
  flex-direction: column;
}
header div {
  margin-top: 200px;
}

nav {
  width: 20%;
  background-color: #1b1b1b;
  min-height: 100%;
  grid-row: span 3;
  position: fixed;
}
nav div {
  text-align: center;
  margin-top: 20px;
}
nav .ti-star {
  color: #e3a752;
  text-align: center;
  fill: #e3a752;
}
nav a {
  color: #8d8d8d;
  margin-bottom: 20px;
}
nav ul {
  padding: 20px;
}
nav li {
  padding: 10px;
}
nav .ducsman {
  font-family: "Gilda Display", serif;
  font-size: 1.5rem;
  color: #aa8453;
  font-weight: 500;
}
nav .catchphrase {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 2px;
}
nav .tel {
  padding: 25px;
}
nav .flaticon-call {
  color: #aa8453;
  font-size: 2rem;
}
nav .num {
  color: #aa8453;
  font-size: 1.2rem;
}

main {
  grid-column-start: 2;
}

body#chambre {
  background-color: #222222;
}

.chambre {
  grid-column-start: 2;
}
.chambre main {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 4fr 1fr;
}
.chambre main ul {
  font-size: 1em;
}
.chambre main .nom {
  color: #aa8453;
  font-size: 60px;
}
.chambre main h2 {
  margin: 10px 0px 10px 0px;
  color: #ffffff;
  font-size: xx-large;
}
.chambre main h3 {
  color: #ffffff;
  font-size: x-large;
}
.chambre main p {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #8d8d8d;
  font-size: large;
}
.chambre main li {
  color: #8d8d8d;
  margin-bottom: 10px;
}
.chambre main .list {
  display: flex;
}
.chambre main .check-in {
  width: 50%;
}
.chambre main .check-in h3 {
  margin-bottom: 20px;
}
.chambre main .check-out {
  width: 50%;
}
.chambre main .check-out h3 {
  margin-bottom: 20px;
}
.chambre main .ti-check {
  color: #aa8453;
}
.chambre main .détails {
  margin-right: 70px;
}
.chambre main button {
  color: #ffffff;
  background-color: #2b2b2b;
  font-size: 8px;
  border: none;
  padding: 10px 20px;
}
.chambre main span {
  margin-right: 12px;
}
.chambre aside {
  margin-top: 90px;
}
.chambre aside h3 {
  margin-bottom: 15px;
}
.chambre aside li {
  margin-bottom: 10px;
}
.chambre aside span {
  color: #aa8453;
  margin-right: 12px;
}
.chambre header {
  background-image: url("/img/rooms/4.jpg");
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.chambre header p {
  color: #ffffff;
  letter-spacing: 5px;
  margin: 14px;
}
.chambre header h1 {
  letter-spacing: 20px;
  color: #ffffff;
  font-size: 70px;
}
.chambre header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.map {
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.Container {
  grid-column-start: 2;
}
.Container header {
  min-height: 90vh;
  background-image: url(/img/slider/2.jpg);
  background-position: 100% 58%;
}
.Container p {
  font-size: 20px;
  color: #8d8d8d;
}
.Container p.titre-espace {
  color: #aa8453;
  letter-spacing: 5px;
}
.Container section {
  background-color: #222222;
}

#article1 {
  background-color: #2b2b2b;
  height: 70vh;
  display: grid;
  grid-template-columns: 5% 45% 20% 25%;
  align-items: center;
  gap: 30px;
}
#article1 #left-column {
  padding-top: 150px;
  align-self: center;
  grid-column-start: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#article1 #image-decale {
  padding-top: 150px;
}

#article2 {
  padding: 150px;
  padding-bottom: 100px;
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  padding: 150px;
}
#article2 p, #article2 h2 {
  grid-column: span 6;
}
#article2 #reservation1 {
  grid-column: span 2;
  background-image: url("/img/rooms/1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
}
#article2 #reservation2 {
  grid-column: span 2;
  background-image: url("/img/rooms/2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
}
#article2 #reservation3 {
  grid-column: span 2;
  background-image: url("/img/rooms/3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
}
#article2 #reservation4 {
  grid-column: span 3;
  background-image: url("/img/rooms/4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}
#article2 #reservation5 {
  grid-column: span 3;
  background-image: url("/img/rooms/7.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}

#Services {
  padding: 100px 50px 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#Services #Service1, #Services #Service2, #Services #Service3, #Services #Service4 {
  height: 89.3%;
  background-color: #2b2b2b;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#Services h3 {
  font-size: 2.5em;
}
#Services img {
  width: 100%;
  height: 100%;
}

#option {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
#option #option2, #option #option3 {
  line-height: 30px;
}

#service-en-plus {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  justify-items: center;
  align-items: center;
}
#service-en-plus div {
  padding: 50px;
}/*# sourceMappingURL=main.css.map */