// footer    
footer{
    background-color: $grisClairMoyen;
    width: 80%;
    margin-left: 20%;

    .apropos{
        display: flex;
        justify-content: space-between;
        padding: 5rem;
        .contactFooter{
            max-width: 30%;
        }
        section{
            width: 50%;
            h2{
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
            p{
                margin: 0;

                line-height: 1.5;
            }
            a{
                color: $blanc;
                font-size: 1.5rem;
                font-family: $fontTitre;
                margin: 1.25rem 0;
                display: block;
            }
            .mail{
                display: block;
                font-family: $fontTexte;
                font-size: 1rem;
                border-bottom: 1px Solid $special;
                margin-bottom: 0.25rem;
                width: 140px;
            }
            ul{
                display: flex;
                gap: 1rem;
                a{
                    font-size: 1rem;
                    &:hover {
                        color: $special;
                        transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }
            }
        }

      
    }
    .legal{
        background-color: $grisFonceMoyen;
        ul{
            text-align: center;
            padding: 2rem;
        }
        a{
            color: $blanc;
            font-size: 0.75rem;
            &:hover {
                color: $special;
                transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            span{
                color: $grisClair;
            }
        }
        li{
            display: inline;
            color: $grisClair;
            font-family:$fontTexte ;
            font-size: 0.75rem;
        }
    }
}

@media screen and (max-width:391px) {
    footer {
        width: 100%;    
        margin: 0;
            .apropos {
                flex-direction: column;
                justify-content: center;
                padding: 2rem 2rem 0 2rem;
                text-align: center;
                section, .contactFooter {
                    min-width: 100%;
                    margin-bottom: 1rem;
                    .mail {
                        text-align: center;
                        display: block;
                        width: 100%;
                        border: none;
                        text-decoration: underline $special;
                    }
                    ul{
                        justify-content: center;
                    }
                } 
            }
    }
}