// footer    


footer {
    background-color: $grisClairMoyen;
    margin: 50px;
    display: flex;
    justify-content: space-between;


h2 {
   color: $blanc;
   margin-bottom: 10px;
   font-size: small;
}
p {
    color: $grisClair;
    

}
span {
    color: $blanc ;
}
p span {
    color: $blanc;
}
a {
    color: $blanc;
}
li {
    color: $grisClair;
    margin-bottom: 10px;
}
   ul { display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   }
}
 
.legal {
    height: 100px;
    background-color: $grisFonceMoyen;
    font-size: x-small;


    ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
a {
    color: $blanc;
}
}

