// form

form {
    
        input {
            border-style: none none solid none;
            justify-content: center;
        }
        textarea {
            border-style: none none solid none;
            
        }
        div {
            padding: 2px;
        }
    
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:  20px;
     
  }
.grid h3{
    grid-column: span2;
    margin: auto;
}
 
   
.container {
align-content: center;
flex-direction: row;
justify-content: flex-start;
}