// Applications des couleurs globales du site
// boilerplate ?

h1 {
    font-family: $fontTitre;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    color: $blanc;
}

h2 {
    font-family: $fontTitre;
    font-size: 2.5rem;
    color: $blanc;
}

h3 {
    font-family: $fontAnnotation;
    font-size: 1rem;
    letter-spacing: 0.25rem;
    margin: 1rem 0;
    color: $special;
}

h4 {
    font-family: $fontTitre;
    font-size: 1.5rem;
    color: $blanc;
    margin: 1rem 0 0.5rem 0;
}

p{
    font-family: $fontTexte;
    color: $texte;
    font-size: 1rem;
    margin: 1rem 0;
}

a {
    font-family: $fontLien;
}

input, textarea{
    font-family: $fontTexte;
    color: $texte;
    font-size: 1rem;
}

@media screen and (max-width:391px) {
body {
    background-color: #222222;
}
}







