// font-size:
// box-sizing: border-box;
// Applications des couleurs globales du site
// boilerplate ?

$titre : $blanc;
$button : $marronButton;
$texte : $grisClair;
$special : $marron;


$texte : 'Barlow', sans-serif ;
$lien : 'Barlow', sans-serif ;
$annotation : 'Barlow Condensed', sans-serif ; 
$titre : 'Gilda Display', serif ;

.headerAnnotation {
    font-size:  0.6rem;
    color: $blanc;
    font-family: $annotation;

}

.annotation {
    font-family: $annotation;
    font-size: 0.6rem;
    color: $special;
}

h1 {
    font-family: $titre;
    font-size: 3rem;
    color: $blanc;
}

h2 {
    font-family: $titre;
    font-size: 1.5rem;
    color: $blanc;
}

h3 {
    font-family: $titre;
    font-size: ;
}

p {
    font-family: $texte;
    color: $grisClair;
    font-size: 0.6rem
}










