body {
    background-color: $grisClairMoyen;
}


header {
    background-image: url("/img/rooms/7.jpg");
    max-width: 100%;
    height: auto;
    
    
}


h3 {
    color: $blanc;
}
p article {
    margin-bottom: 2em;
}
