main {

    margin-top: 100px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    grid-template-rows: 2fr 1fr 1fr;
    
    iframe {
        grid-row-start: 2;

    }

    
}

.infos {
    width: 500px;
}


a {
    color: $marron;
    font-size: x-large;
}
.flaticon-location-pin, .flaticon-envelope, .flaticon-call {
    color: $marron;
    font-size: 40px;
    margin: 40px 10px 10px 0px ;
    
 }
    
 .text {
    color: $grisClair;
 }
 .call, .email, .adresse {
    display: inline-flex;
 }
form {
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    #message {
        grid-column: span 2;
    }
}
